<!-- app bar -->
<section class="section section--top">
  <fieldset class="fieldset--appbar">
    <legend>Flashback</legend>
  </fieldset>
</section>
<section class="section section--center">
  <section class="section section--center-left">
    <!-- editor -->
    <fieldset class="fieldset--stretch" class="fieldset--editor">
      <legend>Editor</legend>
      <app-video-editor
        [video]="selectedVideo$ | async"
        (videoChanged)="updateVideo($event).subscribe()"
      ></app-video-editor>
    </fieldset>
  </section>
  <section class="section section--center-right">
    <!-- preview -->
    <fieldset class="fieldset--preview">
      <legend>Preview</legend>
      <app-preview></app-preview>
    </fieldset>
  </section>
</section>
<section class="section section--bottom">
  <!-- timeline -->
  <fieldset class="fieldset--timeline">
    <legend>Timeline</legend>
    <app-timeline
      *ngIf="(onsetsLengths$ | async)?.length; else noAudioTemplate"
      [onsetLengths]="onsetsLengths$ | async"
      [videos]="videos$ | async"
      [selectedVideo]="(selectedVideo$ | async)?.id || null"
      (videoAdded)="addVideo($event).subscribe()"
      (videoRemoved)="removeVideo($event).subscribe()"
      (videoUpdated)="updateVideoPosition($event).subscribe()"
      (itemSelected)="selectVideo($event).subscribe()"
    ></app-timeline>
    <ng-template #noAudioTemplate>
      <app-audio-picker
        (picked)="audioFile$.next($event)"
        (analyzed)="updateOnsetLengths($event)"
      ></app-audio-picker>
    </ng-template>
  </fieldset>
</section>
