@import '../../../global';

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem;
  height: 100%;
  overflow: hidden;
}

.section {
  display: flex;

  &--horizontal {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  &--vertical {
    flex-direction: column;
  }

  &--left {
    flex: 1 1 40%;
  }

  &--right {
    flex: 1 1 60%;
  }

  &--top {
    flex: 1 1 auto;
  }

  &--bottom {
    flex: 1 1 auto;
  }
}

.fieldset--audio {
  @include fieldsetColor(coral);
}

.fieldset--editor {
  @include fieldsetColor(var(--color--accent));
  flex: 1 1 auto;
}

.fieldset--preview {
  @include fieldsetColor(chartreuse);
  flex: 1 1 auto;
}

.fieldset--timeline {
  @include fieldsetColor(gold);
}
