:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem;
}

.section {
  display: flex;
  
  &--horizontal {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  &--vertical {
    flex-direction: column;
  }

  &--left {
    flex: 1 1 40%;
  }

  &--right {
    flex: 1 1 60%;
  }

  &--top {
    flex: 1 1 auto;
  }

  &--bottom {
    flex: 0 0 auto;
  }
}

@mixin fieldsetColor($color) {
  border-color: $color;

  legend {
    color: $color;
  }
}

fieldset {
  border: 1px solid #e2e2e2;

  &.fieldset--stretch {
    flex: 1 1 auto;
  }

  &.fieldset--audio {
    @include fieldsetColor(coral);
  }

  &.fieldset--editor {
    @include fieldsetColor(cyan);
    flex: 1 1 auto;
  }

  &.fieldset--preview {
    @include fieldsetColor(chartreuse);
    flex: 1 1 auto;

    #preview {
      width: 100%;
    }
  }

  &.fieldset--timeline {
    @include fieldsetColor(gold);
  }
}
