<ng-container *ngIf="video$ | async as video">
  <div *ngIf="!video?.file" class="file-upload">
    <label for="video-file-upload"> Choose Video </label>
    <input
      #videoFileUpload
      id="video-file-upload"
      type="file"
      (change)="selectFile($event).subscribe()"
      accept="video/mp4"
    />
  </div>
  <ng-container *ngIf="video?.file">
    <video
      #player
      controls
      [src]="src$ | async"
      (loadeddata)="jumpToTrimStart(video).subscribe()"
      (keydown.\)="trimStart(player.currentTime).subscribe()"
      (keydown.[)="jumpToTrimStart(video).subscribe()"
      (keydown.])="jumpToTrimEnd(video).subscribe()"
      (timeupdate)="onTimeUpdate(player, video)"
    ></video>
    <div class="controls">
      <button (click)="jumpToTrimStart(video).subscribe()">
        jump to start [</button
      ><button (click)="jumpToTrimEnd(video).subscribe()">jump to end ]</button
      ><button (click)="trimStart(player.currentTime).subscribe()">
        trim start \
      </button>
    </div>
    <div>
      start: {{ video.trimStart.toFixed(2) }}, duration:
      {{ video.duration.toFixed(2) }}
    </div>
  </ng-container>
</ng-container>
