.timeline-container {
  width: 100%;
}

::ng-deep {
  .vis-item {
    &.vis-editable,
    &.vis-editable.vis-selected {
      background: gold;
      border-color: gold;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }

    &.vis-editable.vis-selected {
      background: cyan;
      border-color: cyan;
    }

    &.vis-readonly,
    &.vis-readonly.vis-selected {
      background: coral;
      border-color: coral;
      color: white;
    }
  }
}
