/* You can add global styles to this file, and also import other style files */
@import 'global';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--color--dark);
  color: var(--color--lightest);
}

button {
  @include button();
  @include buttonColor(var(--color--light), var(--color--darkest));

  &:disabled {
    opacity: 0.5;
  }
}

fieldset {
  @include fieldsetColor(var(--color--lightest));
}

.file-upload {
  label {
    cursor: pointer;

    @include button();
    @include buttonColor(var(--color--light), var(--color--darkest));
  }

  label + input[type='file'] {
    display: none;
  }
}
