/* You can add global styles to this file, and also import other style files */
@import 'global';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--color--dark);
  color: var(--color--lightest);
}

button {
  @include button();
  @include buttonColor(var(--color--light), var(--color--darkest));

  &:disabled {
    opacity: 0.5;
  }
}

fieldset {
  @include fieldsetColor(var(--color--lightest));
}

.file-upload {
  width: 100%;
  background-color: var(--color--darker);

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  label span[role='button'] {
    flex: 0 0 auto;
    margin-right: 0.5rem;

    @include button();
    @include buttonColor(var(--color--light), var(--color--darkest));
  }

  label span[role='contentinfo'] {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  label + input[type='file'] {
    display: none;
  }
}
